In [1]:
import numpy as np
import pandas as pd

# Encoding Techniques 
1.Label Encoding

In [2]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\kartikey_kichara\\supply_chain.csv")

In [3]:
df.head(4)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159

In [4]:
df.isnull().sum()

Product type               0
SKU                        0
Price                      0
Availability               0
Number of products sold    0
Revenue generated          0
Customer demographics      0
Stock levels               0
Lead times                 0
Order quantities           0
Shipping times             0
Shipping carriers          0
Shipping costs             0
Supplier name              0
Location                   0
Lead time                  0
Production volumes         0
Manufacturing lead time    0
Manufacturing costs        0
Inspection results         0
Defect rates               0
Transportation modes       0
Routes                     0
Costs                      0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
lb=LabelEncoder()

In [7]:
df['Product type'].value_counts()

Product type
skincare     40
haircare     34
cosmetics    26
Name: count, dtype: int64

In [8]:
df['Product type']=lb.fit_transform(df['Product type'])
df.head(3)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,2,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,1,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282

In [9]:
df['SKU'].value_counts()

SKU
SKU0     1
SKU63    1
SKU73    1
SKU72    1
SKU71    1
        ..
SKU30    1
SKU29    1
SKU28    1
SKU27    1
SKU99    1
Name: count, Length: 100, dtype: int64

In [10]:
df['Customer demographics'].value_counts()

Customer demographics
Unknown       31
Female        25
Non-binary    23
Male          21
Name: count, dtype: int64

In [11]:
df['Customer demographics']=lb.fit_transform(df['Customer demographics'])
df.head(5)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,SKU0,69.808006,55,802,8661.996792,2,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,2,SKU1,14.843523,95,736,7460.900065,0,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,1,SKU2,11.319683,34,8,9577.749626,3,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,2,SKU3,61.163343,68,83,7766.836426,2,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,2,SKU4,4.805496,26,871,2686.505152,2,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [12]:
df['Location']=lb.fit_transform(df['Location'])
df.head(4)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,SKU0,69.808006,55,802,8661.996792,2,58,7,96,...,4,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,2,SKU1,14.843523,95,736,7460.900065,0,53,30,37,...,4,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,1,SKU2,11.319683,34,8,9577.749626,3,1,10,88,...,4,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,2,SKU3,61.163343,68,83,7766.836426,2,23,13,59,...,3,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159

In [13]:
df['Inspection results']=lb.fit_transform(df['Inspection results'])
df.head(4)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,SKU0,69.808006,55,802,8661.996792,2,58,7,96,...,4,29,215,29,46.279879,2,0.226410,Road,Route B,187.752075
1,2,SKU1,14.843523,95,736,7460.900065,0,53,30,37,...,4,23,517,30,33.616769,2,4.854068,Road,Route B,503.065579
2,1,SKU2,11.319683,34,8,9577.749626,3,1,10,88,...,4,12,971,27,30.688019,2,4.580593,Air,Route C,141.920282
3,2,SKU3,61.163343,68,83,7766.836426,2,23,13,59,...,3,24,937,18,35.624741,0,4.746649,Rail,Route A,254.776159

In [14]:
df['Transportation modes']=lb.fit_transform(df['Transportation modes'])
df.head(4)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,SKU0,69.808006,55,802,8661.996792,2,58,7,96,...,4,29,215,29,46.279879,2,0.226410,2,Route B,187.752075
1,2,SKU1,14.843523,95,736,7460.900065,0,53,30,37,...,4,23,517,30,33.616769,2,4.854068,2,Route B,503.065579
2,1,SKU2,11.319683,34,8,9577.749626,3,1,10,88,...,4,12,971,27,30.688019,2,4.580593,0,Route C,141.920282
3,2,SKU3,61.163343,68,83,7766.836426,2,23,13,59,...,3,24,937,18,35.624741,0,4.746649,1,Route A,254.776159

In [15]:
df['Routes']=lb.fit_transform(df['Routes'])
df.head(4)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,SKU0,69.808006,55,802,8661.996792,2,58,7,96,...,4,29,215,29,46.279879,2,0.226410,2,1,187.752075
1,2,SKU1,14.843523,95,736,7460.900065,0,53,30,37,...,4,23,517,30,33.616769,2,4.854068,2,1,503.065579
2,1,SKU2,11.319683,34,8,9577.749626,3,1,10,88,...,4,12,971,27,30.688019,2,4.580593,0,2,141.920282
3,2,SKU3,61.163343,68,83,7766.836426,2,23,13,59,...,3,24,937,18,35.624741,0,4.746649,1,0,254.776159

In [16]:
df['SKU']=lb.fit_transform(df['SKU'])

In [17]:
df.head(4)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,0,69.808006,55,802,8661.996792,2,58,7,96,...,4,29,215,29,46.279879,2,0.226410,2,1,187.752075
1,2,1,14.843523,95,736,7460.900065,0,53,30,37,...,4,23,517,30,33.616769,2,4.854068,2,1,503.065579
2,1,12,11.319683,34,8,9577.749626,3,1,10,88,...,4,12,971,27,30.688019,2,4.580593,0,2,141.920282
3,2,23,61.163343,68,83,7766.836426,2,23,13,59,...,3,24,937,18,35.624741,0,4.746649,1,0,254.776159

# Get_dummies

In [18]:
a=pd.read_csv("C:\\Users\\anski\\Desktop\\kartikey_kichara\\supply_chain.csv")

In [19]:
a.head(4)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159

In [20]:
a= pd.get_dummies(df , columns =  ['Product type', 'SKU', 'Customer demographics', 'Shipping carriers',
       'Supplier name', 'Location', 'Inspection results',
       'Transportation modes', 'Routes'],drop_first=True)

In [21]:
a=a.dropna()
a.head()

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_2,Location_3,Location_4,Inspection results_1,Inspection results_2,Transportation modes_1,Transportation modes_2,Transportation modes_3,Routes_1,Routes_2
0,69.808006,55,802,8661.996792,58,7,96,4,2.956572,29,...,False,False,True,False,True,False,True,False,True,False
1,14.843523,95,736,7460.900065,53,30,37,2,9.716575,23,...,False,False,True,False,True,False,True,False,True,False
2,11.319683,34,8,9577.749626,1,10,88,2,8.054479,12,...,False,False,True,False,True,False,False,False,False,True
3,61.163343,68,83,7766.836426,23,13,59,6,1.729569,24,...,False,True,False,False,False,True,False,False,False,False
4,4.805496,26,871,2686.505152,5,3,56,8,3.890548,5,...,True,False,False,False,False,False,False,False,False,False

In [22]:
b=a.astype(int)
b

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_2,Location_3,Location_4,Inspection results_1,Inspection results_2,Transportation modes_1,Transportation modes_2,Transportation modes_3,Routes_1,Routes_2
0,69,55,802,8661,58,7,96,4,2,29,...,0,0,1,0,1,0,1,0,1,0
1,14,95,736,7460,53,30,37,2,9,23,...,0,0,1,0,1,0,1,0,1,0
2,11,34,8,9577,1,10,88,2,8,12,...,0,0,1,0,1,0,0,0,0,1
3,61,68,83,7766,23,13,59,6,1,24,...,0,1,0,0,0,1,0,0,0,0
4,4,26,871,2686,5,3,56,8,3,5,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,77,65,672,7386,15,14,26,9,8,18,...,0,0,1,0,1,0,0,0,0,0
96,24,29,324,7698,67,2,32,3,5,28,...,0,0,1,0,1,0,1,0,0,0
97,3,56,62,4370,46,19,4,9,7,10,...,0,0,1,0,0,0,1,0,0,0
98,19,43,913,8525,53,1,27,7,1,28,...,0,0,0,0,1,1,0,0,0,0
99,68,17,627,9185,55,8,59,6,1,29,...,0,0,0,0,0,1,0,0,1,0

In [23]:
df=a.copy()

In [24]:
x=df.drop(columns=['Routes_2'])

In [25]:
y=df['Routes_2']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2 ,random_state=42)

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
sc=StandardScaler()

In [30]:
x_train_sc=sc.fit_transform(x_train)

In [31]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)
np.round(x_train_new.describe() , 2)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_1,Location_2,Location_3,Location_4,Inspection results_1,Inspection results_2,Transportation modes_1,Transportation modes_2,Transportation modes_3,Routes_1
count,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,...,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00
mean,0.00,-0.00,0.00,0.00,-0.00,0.00,0.00,-0.00,0.00,0.00,...,-0.00,0.00,-0.00,0.00,0.00,-0.00,-0.00,0.00,0.00,0.00
std,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,...,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01
min,-1.51,-1.57,-1.48,-1.77,-1.55,-1.73,-1.74,-1.72,-1.74,-1.89,...,-0.48,-0.42,-0.54,-0.60,-0.54,-0.88,-0.62,-0.60,-0.46,-0.75
25%,-0.97,-0.92,-0.97,-1.07,-0.87,-0.91,-0.82,-1.00,-0.74,-0.84,...,-0.48,-0.42,-0.54,-0.60,-0.54,-0.88,-0.62,-0.60,-0.46,-0.75
50%,0.05,-0.03,-0.14,0.10,-0.03,0.07,0.15,0.09,-0.03,0.09,...,-0.48,-0.42,-0.54,-0.60,-0.54,-0.88,-0.62,-0.60,-0.46,-0.75
75%,0.90,0.92,0.83,0.89,0.83,0.86,0.82,0.81,0.87,0.91,...,-0.48,-0.42,-0.54,1.68,-0.54,1.13,1.62,1.68,-0.46,1.33
max,1.52,1.60,1.78,1.50,1.71,1.64,1.74,1.53,1.62,1.49,...,2.08,2.38,1.86,1.68,1.86,1.13,1.62,1.68,2.17,1.33

In [32]:
np.round(x_train.describe() , 2)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Defect rates,Costs
count,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00
mean,50.38,49.91,453.20,5822.07,47.51,15.88,47.49,5.76,5.64,17.20,565.90,14.98,45.49,2.28,500.92
std,32.40,31.45,301.96,2704.44,30.81,8.67,26.90,2.78,2.67,8.63,270.24,8.74,29.09,1.55,251.10
min,1.70,1.00,8.00,1061.62,0.00,1.00,1.00,1.00,1.02,1.00,104.00,1.00,1.09,0.02,103.92
25%,19.07,21.25,161.00,2938.96,21.00,8.00,25.50,3.00,3.67,10.00,328.75,7.00,20.00,0.79,293.97
50%,52.05,49.00,410.00,6093.98,46.50,16.50,51.50,6.00,5.56,18.00,568.50,14.00,41.23,2.10,499.66
75%,79.37,78.75,701.75,8214.98,73.00,23.25,69.50,8.00,7.94,25.00,824.50,23.00,67.88,3.69,726.71
max,99.17,100.00,987.00,9866.47,100.00,30.00,94.00,10.00,9.93,30.00,971.00,30.00,99.47,4.94,996.78

In [33]:
from sklearn.preprocessing import MinMaxScaler

In [34]:
mn=MinMaxScaler()

In [35]:
x_train_mn=mn.fit_transform(x_train)

In [36]:
x_train_new=pd.DataFrame(x_train_mn, columns=x_train.columns)

In [37]:
np.round(x_train_new.describe(),2)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_1,Location_2,Location_3,Location_4,Inspection results_1,Inspection results_2,Transportation modes_1,Transportation modes_2,Transportation modes_3,Routes_1
count,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,...,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00
mean,0.50,0.49,0.45,0.54,0.48,0.51,0.50,0.53,0.52,0.56,...,0.19,0.15,0.22,0.26,0.22,0.44,0.28,0.26,0.18,0.36
std,0.33,0.32,0.31,0.31,0.31,0.30,0.29,0.31,0.30,0.30,...,0.39,0.36,0.42,0.44,0.42,0.50,0.45,0.44,0.38,0.48
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.18,0.20,0.16,0.21,0.21,0.24,0.26,0.22,0.30,0.31,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,0.52,0.48,0.41,0.57,0.46,0.53,0.54,0.56,0.51,0.59,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,0.80,0.79,0.71,0.81,0.73,0.77,0.74,0.78,0.78,0.83,...,0.00,0.00,0.00,1.00,0.00,1.00,1.00,1.00,0.00,1.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [38]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\kartikey_kichara\\supply_chain.csv")

In [39]:
df.head(4)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159

In [40]:
from  sklearn.preprocessing import LabelEncoder

In [41]:
lb=LabelEncoder()

In [42]:
df['Product type']=lb.fit_transform(df['Product type'])

In [43]:
df.head(4)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,2,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,1,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,2,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159

In [44]:
df['SKU']=lb.fit_transform(df['SKU'])

In [45]:
df['Customer demographics']=lb.fit_transform(df['Customer demographics'])
df['Location']=lb.fit_transform(df['Location'])
df['Inspection results']=lb.fit_transform(df['Inspection results'])
df['Transportation modes']=lb.fit_transform(df['Transportation modes'])
df['Routes']=lb.fit_transform(df['Routes'])

In [46]:
df.head(4)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,0,69.808006,55,802,8661.996792,2,58,7,96,...,4,29,215,29,46.279879,2,0.226410,2,1,187.752075
1,2,1,14.843523,95,736,7460.900065,0,53,30,37,...,4,23,517,30,33.616769,2,4.854068,2,1,503.065579
2,1,12,11.319683,34,8,9577.749626,3,1,10,88,...,4,12,971,27,30.688019,2,4.580593,0,2,141.920282
3,2,23,61.163343,68,83,7766.836426,2,23,13,59,...,3,24,937,18,35.624741,0,4.746649,1,0,254.776159

In [47]:
a=df.copy()

In [48]:
a

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,0,69.808006,55,802,8661.996792,2,58,7,96,...,4,29,215,29,46.279879,2,0.226410,2,1,187.752075
1,2,1,14.843523,95,736,7460.900065,0,53,30,37,...,4,23,517,30,33.616769,2,4.854068,2,1,503.065579
2,1,12,11.319683,34,8,9577.749626,3,1,10,88,...,4,12,971,27,30.688019,2,4.580593,0,2,141.920282
3,2,23,61.163343,68,83,7766.836426,2,23,13,59,...,3,24,937,18,35.624741,0,4.746649,1,0,254.776159
4,2,34,4.805496,26,871,2686.505152,2,5,3,56,...,2,5,414,3,92.065161,0,3.145580,0,0,923.440632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,95,77.903927,65,672,7386.363944,3,15,14,26,...,4,18,450,26,58.890686,2,1.210882,0,0,778.864241
96,0,96,24.423131,29,324,7698.424766,2,67,2,32,...,4,28,648,28,17.803756,2,3.872048,2,0,188.742141
97,1,97,3.526111,56,62,4370.916580,1,46,19,4,...,4,10,535,13,65.765156,0,3.376238,2,0,540.132423
98,2,98,19.754605,43,913,8525.952560,0,53,1,27,...,1,28,581,9,5.604691,2,2.908122,1,0,882.198864
99,1,99,68.517833,17,627,9185.185829,3,55,8,59,...,1,29,921,2,38.072899,0,0.346027,1,1,210.743009

ValueError: invalid literal for int() with base 10: 'Carrier B'

In [ ]:
a.head(4)

In [50]:
a=pd.read_csv("C:\\Users\\anski\\Desktop\\kartikey_kichara\\supply_chain.csv")

In [51]:
a.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [52]:
a=pd.get_dummies(df,columns=['Product type','SKU','Customer demographics', 'Location','Inspection results'
                        ,'Transportation modes','Routes'],drop_first=True)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping carriers,Shipping costs,...,Location_2,Location_3,Location_4,Inspection results_1,Inspection results_2,Transportation modes_1,Transportation modes_2,Transportation modes_3,Routes_1,Routes_2
0,69.808006,55,802,8661.996792,58,7,96,4,Carrier B,2.956572,...,False,False,True,False,True,False,True,False,True,False
1,14.843523,95,736,7460.900065,53,30,37,2,Carrier A,9.716575,...,False,False,True,False,True,False,True,False,True,False
2,11.319683,34,8,9577.749626,1,10,88,2,Carrier B,8.054479,...,False,False,True,False,True,False,False,False,False,True
3,61.163343,68,83,7766.836426,23,13,59,6,Carrier C,1.729569,...,False,True,False,False,False,True,False,False,False,False
4,4.805496,26,871,2686.505152,5,3,56,8,Carrier A,3.890548,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,77.903927,65,672,7386.363944,15,14,26,9,Carrier B,8.630339,...,False,False,True,False,True,False,False,False,False,False
96,24.423131,29,324,7698.424766,67,2,32,3,Carrier C,5.352878,...,False,False,True,False,True,False,True,False,False,False
97,3.526111,56,62,4370.916580,46,19,4,9,Carrier A,7.904846,...,False,False,True,False,False,False,True,False,False,False
98,19.754605,43,913,8525.952560,53,1,27,7,Carrier B,1.409801,...,False,False,False,False,True,True,False,False,False,False
99,68.517833,17,627,9185.185829,55,8,59,6,Carrier B,1.311024,...,False,False,False,False,False,True,False,False,True,False

In [58]:
a=a.drop(columns=['Shipping carriers'])

In [59]:
a.head()

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Supplier name,...,Location_2,Location_3,Location_4,Inspection results_1,Inspection results_2,Transportation modes_1,Transportation modes_2,Transportation modes_3,Routes_1,Routes_2
0,69.808006,55,802,8661.996792,58,7,96,4,2.956572,Supplier 3,...,False,False,True,False,True,False,True,False,True,False
1,14.843523,95,736,7460.900065,53,30,37,2,9.716575,Supplier 3,...,False,False,True,False,True,False,True,False,True,False
2,11.319683,34,8,9577.749626,1,10,88,2,8.054479,Supplier 1,...,False,False,True,False,True,False,False,False,False,True
3,61.163343,68,83,7766.836426,23,13,59,6,1.729569,Supplier 5,...,False,True,False,False,False,True,False,False,False,False
4,4.805496,26,871,2686.505152,5,3,56,8,3.890548,Supplier 1,...,True,False,False,False,False,False,False,False,False,False

In [60]:
b=a.astype(int)
b

ValueError: invalid literal for int() with base 10: 'Supplier 3'

In [62]:
a=a.drop(columns=['Supplier name'])

In [66]:
b=a.astype(int)
b

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_2,Location_3,Location_4,Inspection results_1,Inspection results_2,Transportation modes_1,Transportation modes_2,Transportation modes_3,Routes_1,Routes_2
0,69,55,802,8661,58,7,96,4,2,29,...,0,0,1,0,1,0,1,0,1,0
1,14,95,736,7460,53,30,37,2,9,23,...,0,0,1,0,1,0,1,0,1,0
2,11,34,8,9577,1,10,88,2,8,12,...,0,0,1,0,1,0,0,0,0,1
3,61,68,83,7766,23,13,59,6,1,24,...,0,1,0,0,0,1,0,0,0,0
4,4,26,871,2686,5,3,56,8,3,5,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,77,65,672,7386,15,14,26,9,8,18,...,0,0,1,0,1,0,0,0,0,0
96,24,29,324,7698,67,2,32,3,5,28,...,0,0,1,0,1,0,1,0,0,0
97,3,56,62,4370,46,19,4,9,7,10,...,0,0,1,0,0,0,1,0,0,0
98,19,43,913,8525,53,1,27,7,1,28,...,0,0,0,0,1,1,0,0,0,0
99,68,17,627,9185,55,8,59,6,1,29,...,0,0,0,0,0,1,0,0,1,0

In [70]:
from sklearn.model_selection import train_test_split

In [78]:
df=b.copy()

In [81]:
x=df.drop(columns=['Routes_2'])
y=df['Routes_2']

In [69]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2 ,random_state=42)

In [83]:
from sklearn.preprocessing import StandardScaler

In [85]:
sc=StandardScaler()

In [86]:
x_train_sc=sc.fit_transform(x_train)

In [88]:
x_train_new=pd.DataFrame(x_train_sc, columns=x_train.columns)

In [89]:
np.round(x_train_new.describe(),2)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_1,Location_2,Location_3,Location_4,Inspection results_1,Inspection results_2,Transportation modes_1,Transportation modes_2,Transportation modes_3,Routes_1
count,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,...,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00
mean,0.00,-0.00,0.00,0.00,-0.00,0.00,0.00,-0.00,0.00,0.00,...,-0.00,0.00,-0.00,0.00,0.00,-0.00,-0.00,0.00,0.00,0.00
std,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,...,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01
min,-1.51,-1.57,-1.48,-1.77,-1.55,-1.73,-1.74,-1.72,-1.74,-1.89,...,-0.48,-0.42,-0.54,-0.60,-0.54,-0.88,-0.62,-0.60,-0.46,-0.75
25%,-0.97,-0.92,-0.97,-1.07,-0.87,-0.91,-0.82,-1.00,-0.74,-0.84,...,-0.48,-0.42,-0.54,-0.60,-0.54,-0.88,-0.62,-0.60,-0.46,-0.75
50%,0.05,-0.03,-0.14,0.10,-0.03,0.07,0.15,0.09,-0.03,0.09,...,-0.48,-0.42,-0.54,-0.60,-0.54,-0.88,-0.62,-0.60,-0.46,-0.75
75%,0.90,0.92,0.83,0.89,0.83,0.86,0.82,0.81,0.87,0.91,...,-0.48,-0.42,-0.54,1.68,-0.54,1.13,1.62,1.68,-0.46,1.33
max,1.52,1.60,1.78,1.50,1.71,1.64,1.74,1.53,1.62,1.49,...,2.08,2.38,1.86,1.68,1.86,1.13,1.62,1.68,2.17,1.33

In [90]:
from sklearn.preprocessing import MinMaxScaler

In [91]:
mn=MinMaxScaler()

In [93]:
x_train_mn=mn.fit_transform(x_train)

In [97]:
x_train_mn_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [98]:
np.round(x_train_mn_new.describe(),2)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_1,Location_2,Location_3,Location_4,Inspection results_1,Inspection results_2,Transportation modes_1,Transportation modes_2,Transportation modes_3,Routes_1
count,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,...,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00
mean,0.50,0.49,0.45,0.54,0.48,0.51,0.50,0.53,0.52,0.56,...,0.19,0.15,0.22,0.26,0.22,0.44,0.28,0.26,0.18,0.36
std,0.33,0.32,0.31,0.31,0.31,0.30,0.29,0.31,0.30,0.30,...,0.39,0.36,0.42,0.44,0.42,0.50,0.45,0.44,0.38,0.48
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.18,0.20,0.16,0.21,0.21,0.24,0.26,0.22,0.30,0.31,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,0.52,0.48,0.41,0.57,0.46,0.53,0.54,0.56,0.51,0.59,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,0.80,0.79,0.71,0.81,0.73,0.77,0.74,0.78,0.78,0.83,...,0.00,0.00,0.00,1.00,0.00,1.00,1.00,1.00,0.00,1.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

# ordinal encoding

In [ ]:
df=pd.read_csv("