In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\all_folder\\Datasets\\vgsales.csv")

In [3]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
lb=LabelEncoder()

In [9]:
df['Name']=lb.fit_transform(df['Name'])
df['Publisher']=lb.fit_transform(df['Publisher'])
df['Platform']=lb.fit_transform(df['Platform'])
df['Genre']=lb.fit_transform(df['Genre'])

In [10]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,11007,26,2006.0,10,359,41.49,29.02,3.77,8.46,82.74
1,2,9327,11,1985.0,4,359,29.08,3.58,6.81,0.77,40.24
2,3,5573,26,2008.0,6,359,15.85,12.88,3.79,3.31,35.82
3,4,11009,26,2009.0,10,359,15.75,11.01,3.28,2.96,33.00
4,5,7346,5,1996.0,7,359,11.27,8.89,10.22,1.00,31.37

In [11]:
a=df.copy()
a

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,11007,26,2006.0,10,359,41.49,29.02,3.77,8.46,82.74
1,2,9327,11,1985.0,4,359,29.08,3.58,6.81,0.77,40.24
2,3,5573,26,2008.0,6,359,15.85,12.88,3.79,3.31,35.82
3,4,11009,26,2009.0,10,359,15.75,11.01,3.28,2.96,33.00
4,5,7346,5,1996.0,7,359,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,11101,6,2002.0,4,269,0.01,0.00,0.00,0.00,0.01
16594,16597,5796,7,2003.0,8,241,0.01,0.00,0.00,0.00,0.01
16595,16598,8144,16,2008.0,6,21,0.00,0.00,0.00,0.00,0.01
16596,16599,5014,4,2010.0,5,8,0.00,0.01,0.00,0.00,0.01
16597,16600,8967,6,2003.0,4,546,0.01,0.00,0.00,0.00,0.01

In [12]:
a.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher         0
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [13]:
from sklearn.impute import SimpleImputer

In [14]:
si=SimpleImputer(strategy="mean")

In [16]:
a['Year']=si.fit_transform(a[['Year']])

In [17]:
a.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [18]:
a=a.astype(int)
a

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,11007,26,2006,10,359,41,29,3,8,82
1,2,9327,11,1985,4,359,29,3,6,0,40
2,3,5573,26,2008,6,359,15,12,3,3,35
3,4,11009,26,2009,10,359,15,11,3,2,33
4,5,7346,5,1996,7,359,11,8,10,1,31
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,11101,6,2002,4,269,0,0,0,0,0
16594,16597,5796,7,2003,8,241,0,0,0,0,0
16595,16598,8144,16,2008,6,21,0,0,0,0,0
16596,16599,5014,4,2010,5,8,0,0,0,0,0
16597,16600,8967,6,2003,4,546,0,0,0,0,0

In [20]:
from sklearn.model_selection import train_test_split

In [23]:
x=a.drop(columns=['Global_Sales'])
y=a['Global_Sales']

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc=StandardScaler()

In [27]:
x_train_sc=sc.fit_transform(x_train)

In [28]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [30]:
np.round(x_train_new.describe(),1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
count,13278.0,13278.0,13278.0,13278.0,13278.0,13278.0,13278.0,13278.0,13278.0,13278.0
mean,-0.0,0.0,0.0,0.0,0.0,-0.0,0.0,-0.0,0.0,-0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-1.7,-1.7,-1.9,-4.6,-1.3,-1.7,-0.1,-0.1,-0.1,-0.1
25%,-0.9,-0.9,-1.0,-0.6,-1.0,-0.9,-0.1,-0.1,-0.1,-0.1
50%,0.0,0.0,0.0,0.1,0.0,0.2,-0.1,-0.1,-0.1,-0.1
75%,0.9,0.9,0.6,0.6,0.8,0.9,-0.1,-0.1,-0.1,-0.1
max,1.7,1.7,1.7,2.3,1.6,1.6,42.2,32.0,39.6,77.0

In [31]:
from sklearn.preprocessing import MinMaxScaler

In [32]:
mn=MinMaxScaler()

In [35]:
x_train_mn=mn.fit_transform(x_train)

In [36]:
x_train_mn_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [37]:
np.round(x_train_mn_new.describe(),2)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
count,13278.00,13278.00,13278.00,13278.00,13278.00,13278.00,13278.00,13278.00,13278.00,13278.00
mean,0.50,0.50,0.53,0.66,0.45,0.51,0.00,0.00,0.00,0.00
std,0.29,0.29,0.28,0.14,0.34,0.31,0.02,0.03,0.03,0.01
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.25,0.25,0.23,0.58,0.09,0.24,0.00,0.00,0.00,0.00
50%,0.50,0.51,0.53,0.68,0.45,0.56,0.00,0.00,0.00,0.00
75%,0.75,0.76,0.70,0.75,0.73,0.80,0.00,0.00,0.00,0.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
lr=LinearRegression()

In [40]:
lr.fit(x_train,y_train)

LinearRegression()

In [41]:
y_pred=lr.predict(x_test)

In [45]:
from sklearn.metrics import r2_score

In [46]:
r2_score(y_test,y_pred)

0.9774156542010826